<!doctype>
<html>
	<head>
		<link style = "text/css" rel = "stylesheet" href = "stylesheet.css"/>
		<title>
			Weather
		</title>
	</head>
	<body>

		<div class="container">
			<style>
			/*table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
			}
			th, td {
			    padding: 5px;
			    text-align: left;
			}*/
			</style>


			<h2>Today's Weather :</h2>

			<table style="width:100%" >
	  		<tr>
	    		<th><b>Current Temp and Condition:</b></th>
	    		<td><%= @temp %></td>
	  		</tr>
	  		<tr>
	    		<th><b>Today's Hi:</b></th>
	    		<td><%= @temp_hi %></td>
	  		</tr>
			  <tr>
			    <th><b>Today's Lo:</b></th>
			    <td><%= @temp_lo %></td>
			  </tr>
			</table>
		</div>


    <% @fixed_headlines.each do |h| %>
    <p><%= h%></p>
    <% end %>
  
	</body>
</html>
